<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="js/anime.min.js"></script>
    <title>HOME</title>
  </head>
  <body style="background-color: #393e46">
    <div class="page-wrapper">
      <div>
        <img
          class="icon"
          src="img/logo.gif"
          alt="logo"
          width="200px"
          height="200px"
        />
      </div>
      <!-- svg sphere -->
      <div style="display: flex; overflow-x: hidden">
        <h1
          class="ml12"
          style="
            padding-left: 4%;
            margin-right: 10%;
            padding-top: 7%;
            color: #eeeeee;
            background: transparent;
            position: relative;
            z-index: 5;
            font-size: 35px;
          "
        >
          We must be united in heart and mind. One world, one people.
        </h1>

        <img src="img/rin_adobespark.png" alt="" class="rin" />
      </div>

      <div class="animation-wrapper">
        <div class="sphere-animation">
          <svg class="sphere" viewBox="0 0 440 440" stroke="rgba(80,80,80,.35)">
            <defs>
              <linearGradient
                id="sphereGradient"
                x1="5%"
                x2="5%"
                y1="0%"
                y2="15%"
              >
                <stop stop-color="#373734" offset="0%" />
                <stop stop-color="#242423" offset="50%" />
                <stop stop-color="#0D0D0C" offset="100%" />
              </linearGradient>
            </defs>
            <path
              d="M361.604 361.238c-24.407 24.408-51.119 37.27-59.662 28.727-8.542-8.543 4.319-35.255 28.726-59.663 24.408-24.407 51.12-37.269 59.663-28.726 8.542 8.543-4.319 35.255-28.727 59.662z"
            />
            <path
              d="M360.72 360.354c-35.879 35.88-75.254 54.677-87.946 41.985-12.692-12.692 6.105-52.067 41.985-87.947 35.879-35.879 75.254-54.676 87.946-41.984 12.692 12.692-6.105 52.067-41.984 87.946z"
            />
            <path
              d="M357.185 356.819c-44.91 44.91-94.376 68.258-110.485 52.149-16.11-16.11 7.238-65.575 52.149-110.485 44.91-44.91 94.376-68.259 110.485-52.15 16.11 16.11-7.239 65.576-52.149 110.486z"
            />
            <path
              d="M350.998 350.632c-53.21 53.209-111.579 81.107-130.373 62.313-18.794-18.793 9.105-77.163 62.314-130.372 53.209-53.21 111.579-81.108 130.373-62.314 18.794 18.794-9.105 77.164-62.314 130.373z"
            />
            <path
              d="M343.043 342.677c-59.8 59.799-125.292 91.26-146.283 70.268-20.99-20.99 10.47-86.483 70.269-146.282 59.799-59.8 125.292-91.26 146.283-70.269 20.99 20.99-10.47 86.484-70.27 146.283z"
            />
            <path
              d="M334.646 334.28c-65.169 65.169-136.697 99.3-159.762 76.235-23.065-23.066 11.066-94.593 76.235-159.762s136.697-99.3 159.762-76.235c23.065 23.065-11.066 94.593-76.235 159.762z"
            />
            <path
              d="M324.923 324.557c-69.806 69.806-146.38 106.411-171.031 81.76-24.652-24.652 11.953-101.226 81.759-171.032 69.806-69.806 146.38-106.411 171.031-81.76 24.652 24.653-11.953 101.226-81.759 171.032z"
            />
            <path
              d="M312.99 312.625c-73.222 73.223-153.555 111.609-179.428 85.736-25.872-25.872 12.514-106.205 85.737-179.428s153.556-111.609 179.429-85.737c25.872 25.873-12.514 106.205-85.737 179.429z"
            />
            <path
              d="M300.175 299.808c-75.909 75.909-159.11 115.778-185.837 89.052-26.726-26.727 13.143-109.929 89.051-185.837 75.908-75.908 159.11-115.778 185.837-89.051 26.726 26.726-13.143 109.928-89.051 185.836z"
            />
            <path
              d="M284.707 284.34c-77.617 77.617-162.303 118.773-189.152 91.924-26.848-26.848 14.308-111.534 91.924-189.15C265.096 109.496 349.782 68.34 376.63 95.188c26.849 26.849-14.307 111.535-91.923 189.151z"
            />
            <path
              d="M269.239 267.989c-78.105 78.104-163.187 119.656-190.035 92.807-26.849-26.848 14.703-111.93 92.807-190.035 78.105-78.104 163.187-119.656 190.035-92.807 26.849 26.848-14.703 111.93-92.807 190.035z"
            />
            <path
              d="M252.887 252.52C175.27 330.138 90.584 371.294 63.736 344.446 36.887 317.596 78.043 232.91 155.66 155.293 233.276 77.677 317.962 36.521 344.81 63.37c26.85 26.848-14.307 111.534-91.923 189.15z"
            />
            <path
              d="M236.977 236.61C161.069 312.52 77.867 352.389 51.14 325.663c-26.726-26.727 13.143-109.928 89.052-185.837 75.908-75.908 159.11-115.777 185.836-89.05 26.727 26.726-13.143 109.928-89.051 185.836z"
            />
            <path
              d="M221.067 220.7C147.844 293.925 67.51 332.31 41.639 306.439c-25.873-25.873 12.513-106.206 85.736-179.429C200.6 53.786 280.931 15.4 306.804 41.272c25.872 25.873-12.514 106.206-85.737 179.429z"
            />
            <path
              d="M205.157 204.79c-69.806 69.807-146.38 106.412-171.031 81.76-24.652-24.652 11.953-101.225 81.759-171.031 69.806-69.807 146.38-106.411 171.031-81.76 24.652 24.652-11.953 101.226-81.759 171.032z"
            />
            <path
              d="M189.247 188.881c-65.169 65.169-136.696 99.3-159.762 76.235-23.065-23.065 11.066-94.593 76.235-159.762s136.697-99.3 159.762-76.235c23.065 23.065-11.066 94.593-76.235 159.762z"
            />
            <path
              d="M173.337 172.971c-59.799 59.8-125.292 91.26-146.282 70.269-20.991-20.99 10.47-86.484 70.268-146.283 59.8-59.799 125.292-91.26 146.283-70.269 20.99 20.991-10.47 86.484-70.269 146.283z"
            />
            <path
              d="M157.427 157.061c-53.209 53.21-111.578 81.108-130.372 62.314-18.794-18.794 9.104-77.164 62.313-130.373 53.21-53.209 111.58-81.108 130.373-62.314 18.794 18.794-9.105 77.164-62.314 130.373z"
            />
            <path
              d="M141.517 141.151c-44.91 44.91-94.376 68.259-110.485 52.15-16.11-16.11 7.239-65.576 52.15-110.486 44.91-44.91 94.375-68.258 110.485-52.15 16.109 16.11-7.24 65.576-52.15 110.486z"
            />
            <path
              d="M125.608 125.241c-35.88 35.88-75.255 54.677-87.947 41.985-12.692-12.692 6.105-52.067 41.985-87.947C115.525 43.4 154.9 24.603 167.592 37.295c12.692 12.692-6.105 52.067-41.984 87.946z"
            />
            <path
              d="M109.698 109.332c-24.408 24.407-51.12 37.268-59.663 28.726-8.542-8.543 4.319-35.255 28.727-59.662 24.407-24.408 51.12-37.27 59.662-28.727 8.543 8.543-4.319 35.255-28.726 59.663z"
            />
          </svg>
        </div>
      </div>
      <!-- svg sphere -->

      <div class="navbar">
        <input
          class="menu-icon"
          type="checkbox"
          id="menu-icon"
          name="menu-icon"
        />
        <label for="menu-icon"></label>
        <nav class="nav">
          <ul class="pt-5">
            <li><a href="/">Home</a></li>
            <li><a href="/socials">Social</a></li>
            <li>
              <a href="https://github.com/grimm989/animeCommunity">Source</a>
            </li>
            <li><a href="mailto: vishalsonyabc@gmail.com">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="top">
        <span
          class="text"
          style="
            font-size: 40px;
            padding-bottom: 30px;
            font-family: 'Open Sans', sans-serif;
            color: #eeeeee;
            text-align: center;
          "
        >
          Top Anime Recommendations:
        </span>
        <!-- <div class="rec d-flex justify-content-center">
        <div class="rec1 card" style="padding: 10px; background-color: #222831">
          <img
            class="card-img-top"
            src="https://i.pinimg.com/originals/8e/55/40/8e5540877c7e2b32647b286d84fe078d.jpg"
            alt=""
          />
          <div class="card-body">
            <div
              class="nameRec card-title"
              style="
                font-size: 30px;
                font-family: 'Play', sans-serif;
                color: #eeeeee;
              "
            >
              Jujutsu Kaisen (TV)
            </div>
            <div
              class="bio card-text"
              style="font-family: 'Mukta', sans-serif; color: #eeeeee"
            >
              Idly indulging in baseless paranormal activities with the Occult
              Club, high schooler Yuuji Itadori spends his days at either the
              clubroom or the hospital, where he visits his bedridden
              grandfather.
            </div>
            <br />
            <a
              class="btn btn-primary"
              href="/search?name=jujutsu+kaisen"
              style="border: 0px; color: #222831; background-color: #00adb5"
            >
              know more</a
            >
          </div>
        </div>
        <div class="rec2 card" style="padding: 10px; background-color: #222831">
          <img
            class="card-img-top"
            src="https://wallpapercave.com/wp/wp8326482.jpg"
            alt=""
          />
          <div class="card-body">
            <div
              class="nameRec card-title"
              style="
                font-size: 30px;
                font-family: 'Play', sans-serif;
                color: #eeeeee;
              "
            >
              Shingeki no Kyojin
            </div>
            <div
              class="bio card-text"
              style="font-family: 'Mukta', sans-serif; color: #eeeeee"
            >
              Still threatened by the "Titans" that rob them of their freedom,
              mankind remains caged inside the two remaining walls. Efforts to
              eradicate these monsters continue;
            </div>
            <br />
            <a
              class="btn btn-primary"
              href="search?name=attack+on+titan"
              style="border: 0px; color: #222831; background-color: #00adb5"
              >know more</a
            >
          </div>
        </div>
        <div class="rec3 card" style="padding: 10px; background-color: #222831">
          <img
            class="card-img-top"
            src="https://www.trendsinternational.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/r/p/rp17948-1.jpg"
            alt=""
          />
          <div class="card-body">
            <div
              class="nameRec card-title"
              style="
                font-size: 30px;
                font-family: 'Play', sans-serif;
                color: #eeeeee;
              "
            >
              Naruto: Shippuuden
            </div>
            <div
              class="bio card-text"
              style="font-family: 'Mukta', sans-serif; color: #eeeeee"
            >
              It has been two and a half years since Naruto Uzumaki left
              Konohagakure, the Hidden Leaf Village, for intense training
              following events which fueled his desire to be stronger.
            </div>
            <br />

            <a
              href="/search?name=naruto"
              class="btn btn-primary"
              style="border: 0px; color: #222831; background-color: #00adb5"
              >know more</a
            >
          </div>
        </div>
      </div> -->
        <!-- the other card -->
        <div class="wrapper">
          <div class="card">
            <img
              src="https://i.pinimg.com/originals/8e/55/40/8e5540877c7e2b32647b286d84fe078d.jpg"
            />
            <div class="descriptions">
              <h1>Jujutsu Kaisen (TV)</h1>
              <p style="color: #eeeeee">
                Idly indulging in baseless paranormal activities with the Occult
                Club, high schooler Yuuji Itadori spends his days at either the
                clubroom or the hospital, where he visits his bedridden
                grandfather.
              </p>
              <button>
                <i class="fas fa-info-circle"></i>
                <a
                  href="/search?name=jujutsu"
                  class="btn btn-primary"
                  style="border: 0px; color: #222831; background-color: #00adb5"
                  >Read More</a
                >
              </button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://www.trendsinternational.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/r/p/rp17948-1.jpg"
            />
            <div class="descriptions">
              <h1>Naruto: Shippuuden</h1>
              <p style="color: #eeeeee">
                It has been two and a half years since Naruto Uzumaki left
                Konohagakure, the Hidden Leaf Village, for intense training
                following events which fueled his desire to be stronger.
              </p>
              <button>
                <i class="fab fa-youtube"></i>
                <a
                  href="/search?name=naruto"
                  class="btn btn-primary"
                  style="border: 0px; color: #222831; background-color: #00adb5"
                  >Read More</a
                >
              </button>
            </div>
          </div>
          <div class="card">
            <img src="https://wallpapercave.com/wp/wp8326482.jpg" />
            <div class="descriptions">
              <h1>Shingeki no Kyojin</h1>
              <p style="color: #eeeeee">
                Still threatened by the "Titans" that rob them of their freedom,
                mankind remains caged inside the two remaining walls. Efforts to
                eradicate these monsters continue;
              </p>
              <button>
                <i class="fab fa-youtube"></i>
                <a
                  href="/search?name=attack+on+titan"
                  class="btn btn-primary"
                  style="border: 0px; color: #222831; background-color: #00adb5"
                  >Read More</a
                >
              </button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://i.pinimg.com/originals/5a/d9/78/5ad9780207c22bee41a0a3b746b9139a.jpg"
            />
            <div class="descriptions">
              <h1>Kimi no Na wa</h1>
              <p style="color: #eeeeee">
                Mitsuha Miyamizu, a high school girl, yearns to live the life of
                a boy in the bustling city of Tokyo—a dream that stands in stark
                contrast to her present life in the countryside.
              </p>
              <button>
                <i class="fab fa-youtube"></i>
                <a
                  href="/search?name=your+name"
                  class="btn btn-primary"
                  style="border: 0px; color: #222831; background-color: #00adb5"
                  >Read More</a
                >
              </button>
            </div>
          </div>
        </div>
        <!-- <form action="/search" method="GET" enctype="multipart/form-data">
        <div>
          <section>
            anime name:
            <input type="text" id="name" placeholder="anime name" name="name" />
          </section>
          <button>search</button>
        </div>
      </form> -->
        <div style="display: flex">
          <h1
            style="
              font-size: 40px;
              padding-bottom: 30px;
              padding-top: 30px;
              padding-left: 30%;
              font-family: 'Open Sans', sans-serif;
              color: #eeeeee;
              text-align: center;
            "
          >
            Search Anime:
          </h1>
          <form
            style="margin-left: 0px"
            action="/search"
            method="GET"
            enctype="multipart/form-data"
            id="Form"
          >
            <input
              type="search"
              name="name"
              id="name"
              pattern=".*\S.*"
              required
            />
            <button class="search-btn" type="submit">
              <span>Search</span>
            </button>
          </form>
        </div>
      </div>
      <div class="socials">
        <h1
          style="
            transform: translateY(200px);
            font-size: 40px;
            padding-bottom: 30px;
            padding-top: 80px;
            padding-left: 4%;
            font-family: 'Open Sans', sans-serif;

            color: #eeeeee;
          "
        >
          Posts:
        </h1>

        <!-- <div style="display: flex">
        <% for(var index=0;index<3;index++){ %>

        <div
          class="card"
          style="padding: 10px; width: 50rem; background-color: #222831"
        >
          <img
            class="card-img-top"
            src="imgsApi/<%= imgs[index].filename %> "
            alt="no img"
            height="200px"
            width="200px"
          />
          <div class="card-body">
            <h5
              class="card-title"
              style="
                font-size: 30px;
                font-family: 'Play', sans-serif;
                color: #eeeeee;
              "
            >
              <img
                src="img/perm_identity_white_24dp.svg"
                alt=""
                width="auto"
                height="30px"
                style="transform: translateY(-4px)"
              />
              <%= tweets[index].name %>
            </h5>
            <p
              class="card-text"
              style="font-family: 'Mukta', sans-serif; color: #eeeeee"
            >
              <%= tweets[index].tweet %>
            </p>
            <br />
            <p
              class="card-text"
              style="font-family: 'Mukta', sans-serif; color: #eeeeee"
            >
              <img
                style="transform: translateY(-2px)"
                src="img/schedule_white_24dp.svg"
                alt=""
              />
              [<%= tweets[index].date %> ]
            </p>
          </div>
        </div>
        <% if(index>2){ break;}%> <% }; %>
      </div> -->
        <!-- socials card -->
        <div class="center">
          <% for(var index=0;index<3;index++){ %>
          <div class="property-card">
            <a href="#">
              <div
                class="property-image"
                style="
                  background-image: url('imgsApi/<%= imgs[index].filename %>');
                "
              >
                <div class="property-image-title">
                  <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                </div>
              </div></a
            >
            <div class="property-description">
              <h5 class="head5" style="color: #eeeeee">
                <%= tweets[index].name %>
              </h5>
              <p class="para" style="color: #eeeeee">
                <%= tweets[index].tweet %> <br />
                -[<%= tweets[index].date %> ]
              </p>
            </div>
            <a href="#">
              <div class="property-social-icons">
                <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
              </div>
            </a>
          </div>
          <% if(index>2){ break;}%> <% }; %>
        </div>
        <!-- socials card -->

        <button class="buttonn" style="transform: translate(1080px, -200px)">
          <a
            style="
              width: 382px;
              height: 86px;
              font-size: 36px;
              font-family: 'Bebas Neue', cursive;
              background: linear-gradient(45deg, transparent 5%, #222831 5%);
              border: 0;
              color: #fff;
              letter-spacing: 3px;
              line-height: 88px;
              box-shadow: 6px 0px 0px #00e6f6;
              outline: transparent;
              position: relative;
            "
            href="/socials"
          >
            All Posts</a
          >
        </button>
      </div>

      <div id="waterdrop"></div>
      <footer>
        <div class="footer-top">
          <div class="pt-exebar"></div>
          <div class="container">
            <div class="row"></div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-site-info">
                  2020 ©
                  <a
                    href="https://www.youtube.com/watch?v=pdr4IzBpacI&t=34s"
                    target="_blank"
                    style="color: #00adb5; text-decoration: none"
                    >Top HTML & CSS Program
                  </a>
                </div>
              </div>

              <div class="col-md-6">
                <nav
                  id="footer-navigation"
                  class="site-navigation footer-navigation centered-box"
                  role="navigation"
                >
                  <ul
                    id="footer-menu"
                    class="nav-menu styled clearfix inline-inside"
                  >
                    <li
                      id="menu-item-26"
                      class="
                        menu-item
                        menu-item-type-custom
                        menu-item-object-custom
                        menu-item-26
                      "
                    >
                      <a href="#" style="color: #00adb5; text-decoration: none"
                        >Support</a
                      >
                    </li>
                    <li
                      id="menu-item-27"
                      class="
                        menu-item
                        menu-item-type-custom
                        menu-item-object-custom
                        menu-item-27
                      "
                    >
                      <a href="#" style="color: #00adb5; text-decoration: none"
                        >Contact Us</a
                      >
                    </li>
                    <li
                      id="menu-item-28"
                      class="
                        menu-item
                        menu-item-type-custom
                        menu-item-object-custom
                        menu-item-28
                      "
                    >
                      <a href="#" style="color: #00adb5; text-decoration: none"
                        >Disclaimer</a
                      >
                    </li>
                    <li
                      id="menu-item-29"
                      class="
                        menu-item
                        menu-item-type-custom
                        menu-item-object-custom
                        menu-item-29
                      "
                    >
                      <a href="#" style="color: #00adb5; text-decoration: none"
                        >Add more</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>

              <div class="col-md-3">
                <div id="footer-socials">
                  <div class="socials inline-inside socials-colored">
                    <a
                      href="#"
                      target="_blank"
                      title="Facebook"
                      class="socials-item"
                    >
                      <img src="img/facebook_white_24dp.svg" alt="" />
                    </a>
                    <a
                      href="#"
                      target="_blank"
                      title="Twitter"
                      class="socials-item"
                    >
                      <img
                        src="https://img.icons8.com/material-rounded/24/ffffff/twitter.png"
                      />
                    </a>
                    <a
                      href="#"
                      target="_blank"
                      title="Instagram"
                      class="socials-item"
                    >
                      <img
                        src="https://img.icons8.com/material-rounded/24/ffffff/instagram-new.png"
                      />
                    </a>
                    <a
                      href="#"
                      target="_blank"
                      title="YouTube"
                      class="socials-item"
                    >
                      <img
                        src="https://img.icons8.com/material-outlined/24/ffffff/github.png"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>

    <script>
      jQuery("#waterdrop").raindrops({
        color: "#1c1f2f",
        canvasHeight: 150,
        density: 0.1,
        frequency: 20,
      });
    </script>

    <script src="js/index.js"></script>
  </body>
</html>

<!-- quoutes:
For the strength of the Pack is the Wolf, and the strength of the Wolf is the Pack. 
We are only as strong as we are united, as weak as we are divided.
We must be united in heart and mind. One world, one people.
 -->
